.container {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(144, 144, 144, 0.5);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.cardNovaNota {
    width: 800px;
    height: 850px;
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    border-radius: 7px;
    overflow: auto;

}


.containerTitle {
    padding: 5px;
    display: flex;
    size: 15px;

}

.containerTitle h1 {
    font-weight: 300;

}

.wrapContainer {
    padding: 10px;
    margin: 20px;
}

.wrapRow {
    width: 100%;

}

.wrapSize{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    justify-items: center;
}

.wrapContinarRow {
    width: 100%;
    margin-top: 20px;
    display: flex;
}

.wrapRow input {
    padding: 5px;
    border: none;
    border-bottom: 1px solid gray;
    margin-top: 20px;
    outline: none;

}

.row {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.row p {
    margin-left: 0px;
}

.containerDocumentos {
    width: 100%;
    height: 120px;
    border-radius: 7px;
    border: 1px solid black;
    overflow: auto;
    margin-top: 10px;

}

.containerDocumentos::-webkit-scrollbar {
    width: 8px;
    border-radius: 10px;
    margin-right: 20px;
}

.containerDocumentos::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
}

.containerDocumentos::-webkit-scrollbar-thumb {
    background-color: #333333;
    border-radius: 10px;
}

.wrapContainerDocumentos {
    padding: 10px;
}

.containerButton {
    width: 100%;
    display: flex;
}

.button {
    width: 200px;
    height: 38px;
}

@media(max-width:1030px){
    .container {
    }
    .cardNovaNota {
        width: 90%;
        height: 90%;
        background-color: rgba(255, 255, 255, 1);
        position: absolute;
        border-radius: 7px;
    }
    .containerButton {
        width: 100%;
        display: flex;
        margin-bottom: 20px;
    }

}
@media(max-width:770px){
    .wrapSize{
        display: block;
        padding: 20px;
    }
    .wrapSize div div input{
        width: 100%;
    }
    .wrapSize div div h5{
        margin-top: 10px;
    }
}
@media(max-width:430px){

    .cardNovaNota {
        width: 90%;
        height: 90%;
        background-color: rgba(255, 255, 255, 1);
        position: absolute;
        border-radius: 7px;
    }
    .containerButton {
        margin-bottom: 20px;
        display: block;
    }

    .button {
        width: 300px;
        height: 38px;
        margin-top: 10px;
    }

}