
.card{
    margin: 20px;
    box-shadow: 1px 1px 5px 2px #868686;
    border-radius: 7px;
    height: auto;
    font-family: NotoSans,Arial,"Arial Unicode MS",sans-serif;
    font-size: 16px;
}



.containerTitle{
    margin-bottom: 7px;
    display: flex;
    justify-content: space-between;
}
.wrapTitle{
    align-items: flex-start;
    width: 100%;
    padding: 7px;
    display: grid;
    justify-content: left;
}

.cardTitle{
    width: 100px;
    height: 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-self: center;
    display: grid;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgb(81, 102, 173);
}

.wrapButtonAdd{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.wrapButtonAdd:hover{
    cursor: pointer;
}

.buttonAdd{
    width: 100%;
    size:20px;
}

.numeroNota{
    font-size: 15px;
    font-weight: 700;
    color: #4d4d4d;
}

.wrapContainer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 20px 20px 7px 7px;
    box-shadow: 1px 1px 5px 1px rgb(10, 43, 228);
    margin-top: 30px;
}

.column{
    padding: 10px;
}

.row{
    margin: 5px;

}

.row p{
    color: #666666;
    font-weight: 400;
}


.cardDocumento{
    width: 100px;
    margin-left: 0px;
    height: 60px;
    justify-content: space-between;

}

.documentos{
    width: 100px;
    height: 20px;
    background-color: rgb(144, 247, 144, .8);
    border-radius: 7px;
    display: grid;
    text-align: left;
    margin-top: 10px;
}
.produtoServico{
    width: 100px;
    height: 20px;
    background-color: rgb(144, 247, 144, .8);
    border-radius: 7px;
    justify-content: center;
    align-items: center;
    display: grid;
    text-align: left;
    margin-top: 10px;

}

.documentos p,
.produtoServico p{
    color: rgb(107, 107, 107);
    font-weight: 500;
    
}
.documentos:hover{
    cursor: pointer;
}

.quantidadeDocumentos{
    width: 15px;
    height: 15px;
    border-radius: calc(15px / 2);
    background-color: rgb(247, 48, 48);
    margin-top: -28px;
    display: flex;
    position: relative;
    left: 40px;
    align-items: center;
    justify-content: center;
    justify-self: center;
}

.quantidadeDocumentos p{
    font-size: 12px; 
    color: white; 
    font-weight: 400;
}

.containerButtonVisibility{
    width: 100%;
    height: 38px;
    display: flex;
    align-items: flex-end 
}

@media (max-width:430px) {
    .card{
        margin: 20px;
        box-shadow: 1px 1px 5px 2px #868686;
        border-radius: 7px;
        height: auto;
        font-family: NotoSans,Arial,"Arial Unicode MS",sans-serif;
        font-size: 16px;
    }
    .wrapContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;    
    }
    .column{
        width: 160px;
    }
    .row{
        padding: 10px;
    }
    
}