.container {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 999;
    display: grid;
    align-items: center;
  }
  
  .card {
    width: 350px;
    height: 70px;
    background-color: white;
    display: grid;
    grid-template-columns:.8fr 2fr .2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border-radius: 7px;
    position: relative;
    z-index: 1;
    box-shadow: 1px 1px 2px 1px rgb(16, 223, 205);
  }

  .containerIcon{
    grid-area: 1/1/1/2;
    width: 100%;
    display: grid;
    align-items: center;
  }

  .containerIcon::before{
    content: "";
    top: 0;
    left: 0;
    width: 7px;
    height: 100%;
    position: absolute;
    background-color: rgb(241, 76, 0);
    border-radius: 7px 0px 0px 7px;
  }

  .sucess::before{
    content: "";
    top: 0;
    left: 0;
    width: 7px;
    height: 100%;
    position: absolute;
    background-color: rgb(0, 241, 20);
    border-radius: 7px 0px 0px 7px;

  }

  .warning::before{
    content: "";
    top: 0;
    left: 0;
    width: 7px;
    height: 100%;
    position: absolute;
    background-color: rgb(241, 217, 0);
    border-radius: 7px 0px 0px 7px;

  }

  .error::before{
    content: "";
    top: 0;
    left: 0;
    width: 7px;
    height: 100%;
    position: absolute;
    background-color: rgb(255, 0, 0);
    border-radius: 7px 0px 0px 7px;

  }
  

  
  .containerBody {
    grid-area: 1/2/1/3;
    width: 100%;
    display: grid;
    align-items: center;
    color: rgb(134, 134, 134);
  }
  
  .containerBottom {
    width: 100%;
    display: grid;
    align-items: flex-start;
    color: rgb(134, 134, 134);
    font-size: 18;
    grid-area: 1/3/1/4;
 
  }
  
  .button {
    width: 100%;
    height: 30px;
    align-items: center;
    display: flex;
  }

  .button:hover{
    background-color: rgba(255, 0, 0, 0.527);
    border-radius: 0px 7px 0px 0px;
    transition: .8s;
    cursor: pointer;
  }