.table {
    width: 90%;
    border-radius: 7px;
    --border: 1px solid rgb(0, 0, 0 ,.2);
    border-spacing: 0px;
    border: var(--border);
    overflow: hidden;

}

.head {
    background-color: rgb(56, 56, 56);
    color: white;
}

.head th {
    padding: 7px;
    text-align: center;
}

.table td {
    padding: 7px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: rgba(56, 56, 56, 0.959);
}
.table>thead>tr:not(:last-child)>th,
.table>thead>tr:not(:last-child)>td,
.table>tbody>tr:not(:last-child)>th,
.table>tbody>tr:not(:last-child)>td,
.table>tfoot>tr:not(:last-child)>th,
.table>tfoot>tr:not(:last-child)>td,
.table>tr:not(:last-child)>td,
.table>tr:not(:last-child)>th,
.table>thead:not(:last-child),
.table>tbody:not(:last-child),
.table>tfoot:not(:last-child) {
    border-bottom: 1px solid rgba(226, 226, 226, 0.589)
}
.body{
    background-color: rgba(104, 104, 104, 0.1);
}
