.container_table {
    overflow: auto;
    width: 90%;
    height: auto;
    max-height: 100%;
    border-radius: 7px;
    background-color: rgba(226, 226, 226, 0.1);
    backdrop-filter: blur(10px);

}

.container_table::-webkit-scrollbar{
    width: 7px;
}
.container_table::-webkit-scrollbar-thumb{
    background-color: rgb(34, 0, 187);
    border-radius: 7px;
    visibility: hidden;
}

.container_table:hover::-webkit-scrollbar-thumb{
    visibility: visible;
}

.table {
    width: 100%;
    border-radius: 8px;
    --border: 1px solid rgb(0, 0, 0, .2);
    overflow: auto;
    max-height: 100px;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 1rem;
    border: none;
}

.table thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: rgb(56, 56, 56);
    color: white;
    z-index: 2;
}


.head {
    /* background-color: rgb(56, 56, 56);
    color: white;
    height: 20px; */

}

.head th {
    /* padding: 7px; */
    text-align: center;
    position: sticky;
}

.table td {
    /* padding: 7px; */
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: rgba(243, 243, 243, 0.959);

}

.table>thead>tr:not(:last-child)>th,
.table>thead>tr:not(:last-child)>td,
.table>tbody>tr:not(:last-child)>th,
.table>tbody>tr:not(:last-child)>td,
.table>tfoot>tr:not(:last-child)>th,
.table>tfoot>tr:not(:last-child)>td,
.table>tr:not(:last-child)>td,
.table>tr:not(:last-child)>th,
.table>thead:not(:last-child),
.table>tbody:not(:last-child),
.table>tfoot:not(:last-child) {
    border-bottom: 1px solid rgba(226, 226, 226, 0.589);
}

.body {
    position: relative;
    overflow: auto;
}

.row_claims {
    position: relative;
    width: 50px;

}

.row_claims::before {
    position: absolute;
    content: attr(data-claims);
    font-size: 12px;
    text-align: center;
    font-weight: 500;
    color: white;
    width: 60px;
    height: 15px;
    background-color: rgb(25, 218, 208);
    border-radius: 10px;
    margin-left: -27px;
    vertical-align: middle;
    bottom: 20px;
}