.table{
    border-collapse: collapse;
    width: 90%;
}

.table td,
.table th {
    border: 2px solid gray;
    font-size: 14px;
    padding: 7px;
    text-align: center;
}

.head{
    background-color: blue;
    border: 1px solid;
    font-weight: 500;
    color: white;
}