.table_wrapper{
    overflow: auto;
    height: 900px;
}

.body_table{
    border-collapse: collapse;
    border: 1px solid black;
    overflow: scroll;
}

.body_table thead{
    background-color: rgb(24, 0, 236);
    color: white;
    position: sticky;
    top: -2px;
}

.body_table td, 
.body_table th{
    border: 1px solid black;
}



.table_row {
    border: 1px solid black;
    align-items: center;
    text-align: center;
    color: rgb(66, 65, 65);
}

.table_row td, .body_table th{
    padding: 30px;
    
}

@media(max-height:1036px){
    .table_wrapper{
        overflow: auto;
        height: 700px;
    }

}

@media(max-height:770px){
    .table_wrapper{
        overflow: auto;
        height: 520px;
    }
    .body_table{
        border-collapse: collapse;
        border: 1px solid black;
        overflow: scroll;
    }

    .table_row td, 
    .body_table th{
        padding: 7px;
        font-size: 12px;
        
    }
    
}


@media(max-height:770px){
    .table_wrapper{
        overflow: auto;
        height: 560px;
    }
    .body_table{
        border-collapse: collapse;
        border: 1px solid black;
        overflow: scroll;
        width: 100%;
    }

    .table_row td, .body_table th{
        padding: 15px;
        font-size: 14px;
        
    }
    
}




