.card{
    width: 100%;
    min-height: 200px;
    border-radius: 7px;
    background-color: rgb(48, 1, 65);
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 60px auto auto auto auto;
}

.container_title{
    width: 100%;
    background-color: rgb(0, 0, 0);
    grid-area: 1/1/2/5;

}

.container_body{
    width: 100%;
    grid-area: 2/1/5/5;
    background-color: red;
}

.container_info{
    width: 100%;
    grid-area: 2/1/4/4;
    background-color: green;
    padding: 20px;
}

.wrap_container_info{
    padding: 5px;
    display: flex;
}

.wrap_container_info h3{
    font-weight: 500;
    padding: 15px;
    font-size: 16px;
    background-color: red;
    width: 180px;
}

.wrap_container_info p{
    padding: 15px;
    font-weight: 500;
    width: 100%;
    height: auto;
    background-color: aqua;
}


.container_description{

}