.body{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 999;
    left: 0;
    padding: 0;
    bottom: 0;
    background-color: rgba(168, 168, 168, 0.329);

}
.container{
    width: 1024px;
    height: 100vh;
    border: 1px solid rgba(155, 155, 155, 0.705);
    overflow: hidden;
    position: relative;
    
}

@media(max-width:1030px){
    .container{
        width: 100%;
        overflow: auto;
        background-color: white;
        box-shadow: 1px 1px 5px 2px #c0c0c0;
        padding: 0;
        margin: 0 auto;
    
    }

}

@media (max-width:770px) {
    .container{
        overflow: auto;
        background-color: white;
        box-shadow: 1px 1px 5px 2px #c0c0c0;
        padding: 0;
        margin: 0 auto;
    
    }
    
}

@media (max-width:430px) {
    .container{
        overflow: auto;
        background-color: white;
        box-shadow: 1px 1px 5px 2px #c0c0c0;
        padding: 0;
        margin: 0 auto;
    
    }
    
}