.body{
    width: 100%;
    height: 100vh;
    background-color: rgb(235, 235, 235);
    overflow: auto;

}

.container{
    width: 900px;
    overflow: auto;
    background-color: white;
    box-shadow: 1px 1px 5px 2px #c0c0c0;
    padding: 0;
    margin: 0 auto;

}
.wrapContainer{
    width: 200;
    background-color: white;
    position: relative;
}

@media(max-width:1030px){
    .container{
        width: 100%;
        overflow: auto;
        background-color: white;
        box-shadow: 1px 1px 5px 2px #c0c0c0;
        padding: 0;
        margin: 0 auto;
    
    }

}

@media (max-width:770px) {
    .container{
        overflow: auto;
        background-color: white;
        box-shadow: 1px 1px 5px 2px #c0c0c0;
        padding: 0;
        margin: 0 auto;
    
    }
    
}
@media (max-width:430px) {
    .container{
        overflow: auto;
        background-color: white;
        box-shadow: 1px 1px 5px 2px #c0c0c0;
        padding: 0;
        margin: 0 auto;
    
    }
    
}