.body{
    width: 100%;
    height: 100vh;
    background-color: rgb(241, 241, 241);
    overflow: hidden;
}

.container{
    width: 1024px;
    height: 100vh;
    background-color: white;
    position: relative;
    padding: 0;
    overflow: auto;

}

.wrap_container{
    width: 100%;
    height: calc(100vh - 100px);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: .1fr 1fr;
    overflow: auto;
}

.container_filtro{
    grid-area: 1 / 1 / 2 / 13; 
    width: 100%;
}
.card_filtro{
    grid-area: 1 / 2 / 2 / 13;
    width: 100%;
}


.card_notas{
    grid-area: 2 / 2 / 2 / 12;
    width: 100%;
}

@media(max-width:1030px){
    .container{
        width: 100%;
        overflow: auto;
        background-color: white;
        box-shadow: 1px 1px 5px 2px #c0c0c0;
        padding: 0;
        margin: 0 auto;
    
    }

}

@media (max-width:770px) {
    .container{
        overflow: auto;
        background-color: white;
        box-shadow: 1px 1px 5px 2px #c0c0c0;
        padding: 0;
        margin: 0 auto;
    
    }
    
}

@media (max-width:430px) {
    .container{
        overflow: auto;
        background-color: white;
        box-shadow: 1px 1px 5px 2px #c0c0c0;
        padding: 0;
        margin: 0 auto;
    
    }
    
}

